<div class="row">
  <div class="span6 offset1">
    <h1>FORM</h1>
  </div>
</div>

<div class="row">
  <div class="span6 offset1">
    <%= form_for(@form) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :phone %>
      <%= f.telephone_field :phone %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :street_address %>
      <%= f.text_field :street_address %>

      <%= f.label :city %>
      <%= f.text_field :city %>

      <%= f.label :state %>
      <%= f.text_field :state %>

      <%= f.label :zip_code %>
      <%= f.text_field :zip_code %>

      <%= f.label :type %>
      <%= f.radio_button(:type, "rental") %>
      <%= f.label(:type_rent, "Rental") %>
      <%= f.radio_button(:type, "residential") %>
      <%= f.label(:type_resident, "Residential") %>

      <%= f.label :property_type %>
      <%= f.select(:property_id, options_for_select([['Apartment', 1],
                                                      ['Family Home', 2],
                                                      ['Condo', 3],
                                                      ['Share', 4]], 1)) %>
      <br></br>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :description %>
      <%= f.text_area :description, :size => "60x12" %>

      <%= f.label :square_footage %>
      <%= f.text_field :square_footage %>

      <%= f.label :price %>
      $<%= f.text_field :price %>
      <%= f.select(:price_id, options_for_select([['per week', 1],
                                                   ['per month', 2],
                                                   ['per year', 3]], 2)) %>

      <%= f.label :beds %>
      <%= f.select(:beds_id, options_for_select([['Studio', 1],
                                                      ['1', 2],
                                                      ['2', 3],
                                                      ['3', 4],
                                                      ['4', 5],
                                                      ['5', 6],
                                                      ['6', 7],
                                                      ['7', 8],
                                                      ['8', 9],
                                                      ['9+', 10]], 1)) %>

      <%= f.label :baths %>
      <%= f.select(:baths_id, options_for_select([['0', 1],
                                                  ['1', 2],
                                                  ['2', 3],
                                                  ['3', 4],
                                                  ['4', 5],
                                                  ['5', 6],
                                                  ['6', 7],
                                                  ['7', 8],
                                                  ['8', 9],
                                                  ['9+', 10]], 1)) %>


      <%= f.label :pets %>
      <%= f.radio_button(:pets, "cats") %>
      <%= f.label(:pets_cat, "Cats") %>
      <%= f.radio_button(:pets, "dogs") %>
      <%= f.label(:pets_dog, "Dogs") %>
      <%= f.radio_button(:pets, "both") %>
      <%= f.label(:pets_both, "Both") %>
      <%= f.radio_button(:pets, "none") %>
      <%= f.label(:pets_none, "None") %>

      <%= f.label :amenities %>
      <%= f.text_area :amenities, :size => "60x12" %>

      <%= f.file_field :avatar %>

      <%= f.submit "Next", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
